.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(90deg, orange, grey);
}
.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 50px; /* Adjust the height as needed */
    margin-right: 10px; /* Space between logo and text */
}


.nav a {
    margin-left: 1.5rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #f0c14b;
}

.contactButton {
    padding: 0.5rem 1rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.contactButton:hover {
    transform: scale(1.1);
}
